ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

div{
    border: 1px solid red;
    width: 300px;
}

ul{
    display:flex;
    flex-flow: row nowrap;
    padding: 10px;
    background-color: yellow;
}

div>ul>li::after{
    content: "|";
    float: right;
    display: block;
}

div>ul>li:last-child::after{
    content: "";
}

div>ul>li>a{
    padding: 0 10px;
    border: 1px solid blue;
}